<!DOCTYPE html>
<html>
<head>
	<%- include("../partial/meta.ejs") %>
	<title><%=title %></title>
</head>
<body>
	<h2>This is the NodeJs HOME PAGE</h2>
	<a href="/download">Download this file</a>

<%- include("../partial/data.ejs") %>
<%- include("../partial/section.ejs") %>
</body>
</html>