<!DOCTYPE html>
<html>
<head>
	<%- include("../partial/meta.ejs") %>
	<title><%=title %></title>

</head>
<body>
	<h1>This is index for the Node JS</h1>
	<%- include("../partial/data.ejs") %>
	<%- include("../partial/section.ejs") %>

</body>
</html>